APP_PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SYNC=false
EUSHIPMENTS_API_URL=https://api1.inout.bg/api
EUSHIPMENTS_API_VERSION=v1
EUSHIPMENTS_API_KEY=
EUSHIPMENTS_CABINET_URL=https://clients2.inout.bg/cabinet
EUSHIPMENTS_CABINET_USERNAME=
EUSHIPMENTS_CABINET_PASSWORD=
EUSHIPMENTS_SYNC_START_DATE=
EUSHIPMENTS_TG_BOT_TOKEN=
TG_ADMIN_USER_ID=